@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #e6e6e6;
  --primary-color: #11255C;


  --font-primary: Arial, Helvetica, sans-serif;
  --font-secondary: "Aladin", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f1f1;
    --foreground: #F8F8F8; 
  }
}

/* login as admin-2 */


/* Fonts */
.font-secondary {
  font-family: var(--font-secondary);
}

.font-primary {
  font-family: var(--font-primary);
}
.primary-color {
  color: var(--primary-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  color: var(--primary-color);
  font-family: var(--font-primary);
}