@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-color: #11255C;
  --font-secondary: "Aladin", cursive;
  --font-primary: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: Poppins;
}